.wrapcover{
    width: 100%;
    height: 100%;
    position: relative;

}
.imgcouple{
    display: block;
    width: 100%;
    height: 770px;

}
@font-face{
    font-family: "LeckerliOne-Regular";
    src: url('../../Assets/font/LeckerliOne-Regular.ttf');
    font-family: 'Sweet';
    src: url('../../Assets/font/Sweet.ttf')format('truetype');
    font-family: 'monofonto';
    src: url('../../Assets/font/monofonto.ttf') format('truetype');
    
    
}

.htopbsmlh{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 27%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-size: 30px;
    font-family: 'Rattman';
}
.htopasslm{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-size: 30px;
    font-family: 'Rattman';
}
.htopudg{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 34%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'monofonto';
    font-size: 20px;
}
.txtudg{
    font-size: 14px;
    color: #9C6615;
}
.htopbpk{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 36%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'monofonto';
    font-size: 20px;
}
.htopw{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 42%;
    width: 100%;
    font-family: 'monofonto';
}
.htoplistw{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    width: 100%;
    height: 40%;
    margin-right: auto;

    
}
.imglistw{
    width: 50%;
    margin-left: 25%;
}
.txtw{
    font-size: 13px;
    margin-left: 27%;
    color:#9C6615 ;
}
.txtbpk{
    font-size: 14px;
    color: #9C6615;
}
.txtasslm{
    color: #9C6615;

}
.txtudg{
    color:#9C6615;
}
.txtbsmlh{
    color: #9C6615;
}
.htopb{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4%;
    width: 100%;
    height: 40%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'sweet';
    font-size: 20px;
}
.htopimg{
    display: block;
    width: 40%;
    height: 20%;
}

.wrappingimg{
    width: 30%;
    height: 15%;
    position: absolute;
    top: 40%;
    border-radius: 50%;
    overflow: hidden;
    border:3px solid #9C6615;
}
.imgw{
    height: 100%;
    width: 100%;
}

.htopwbpk{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 48%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtwbpk{
    font-size: 11px;
    margin-left: 27%;
    color: #9C6615;
}
.htopwptk{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 46%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtptk{
    font-size: 11px;
    margin-left: 27%;
    color: #9C6615;
}
.htopwibu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtwibu{
    font-size: 11px;
    margin-left: 27%;
    color: #9C6615;
}


.txtand{
    font-size: 50px;
    color: #9C6615;

}
.htopand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 58%;
    width: 100%;
    font-family: 'Rattman'; 
    
}
 .wrappingimgl{ 
    width: 30%;
    height: 15%;
    position: absolute;
    top: 67%;
    border-radius: 50%;
    overflow: hidden;
    border:3px solid #9C6615;
    margin-left: 60%;
}
.imgl{
    height: 100%;
    width: 100%;
}
.htopl{
    position: absolute;
    top: 69%;
    width: 100%;
    font-family: 'monofonto';

}
.txtl{
    font-size: 13px;
    color:#9C6615 ;
    margin-left: 13%;

}
.htoplptk{
    position: absolute;
    top: 73%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtlptk{
    font-size: 11px;
    margin-left: 21%;
    color: #9C6615;
}
.htoplistl{
    height: auto;
    position: absolute;
    top: 71%;
    width: 100%;
    height: 10%;
  


    
}
.imglistl{
    width: 50%;
    margin-left: 5%;
}

.htoplbpk{
    position: absolute;
    top: 75%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtlbpk{
    font-size: 11px;
    margin-left: 15%;
    color: #9C6615;
}

.htoplibu{
    position: absolute;
    top: 77%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtlibu{
    font-size: 11px;
    margin-left: 15%;
    color: #9C6615;
}

.animasitext{
    animation-name: animasitext;
    animation-duration: 2s;
}
.animasitextl{
    animation-name: animasitext;
    animation-duration: 2s;

}
.wrapIG{
    width: 100%;
    animation: animasitext1;
    animation-duration: 4s;

}
.imgig{
    height: auto;
    position: absolute;
    top: 55%;
    width: 50%;   
}
.imglistig{
    height: auto;
    position: absolute;
    width: 20%;  
}
.namaig{
    position: absolute;
    top: 56%;
    width: 100%;
    font-family: 'monofonto';     
}
.txtwig{
    font-size: 10px;
    margin-left: 10%;
    color:#9C6615 ;
}
.wraplIG{
    width: 100%;
    animation: animasitext1;
    animation-duration: 4s;

}
.imglig{
    height: auto;
    position: absolute;
    top: 83%;
    width: 50%;   
}
.imglistlig{
    height: auto;
    position: absolute;
    width: 20%;
    margin-left: 160%;  
}
.namalig{
    position: absolute;
    top: 84%;
    width: 100%;
    font-family: 'monofonto';     
}
.txtlig{
    font-size: 10px;
    margin-left: 65%;
    color:#9C6615 ;
}
@media only screen and (min-width: 360px) and (max-height: 1000px) {
   
    .imgcouple{
        display: block;
        width: 100%;
        height: 1000px;
    
    }

    
}

@media only screen and (min-width: 320px) and (max-width: 320px) {

    .imgcouple{
        display: block;
        width: 100%;
        height: 1000px;
    
    }
    .txtudg{
        font-size: 12px;
        color: #9C6615;
    }
    .txtbpk{
        font-size: 12px;
        color: #9C6615;
    }
    .txtl{
        font-size: 12px;
        color:#9C6615 ;
        margin-left: 10%;
    }
}
@media only screen and (min-width: 411px) and (max-height: 1000px) {
    
    .imgcouple{
        display: block;
        width: 100%;
        height: 1000px;
    
    }
    .txtudg{
        font-size: 12px;
        color: #9C6615;
    }
    .txtbpk{
        font-size: 12px;
        color: #9C6615;
    }
    .txtl{
        font-size: 14px;
        color:#9C6615 ;
        margin-left: 13%;
    }
}
@media only screen and (min-width: 300px) and (max-width: 400px){
    .wrapcover{
        width: 100%;
        height: 100%;
        position: relative;
    
    }
    .imgcouple{
        display: block;
        width: 100%;
        height: 1000px;
    
    }
    .htopasslm{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
        font-size: 25px;
        font-family: 'Rattman';
    }
    .txtbpk{
        font-size: 9px;
        color: #9C6615;
    }
    .txtudg{
        font-size: 10px;
        color: #9C6615;
    }

}
@media only screen and (min-width: 540px) and (max-height: 1000px) {

    .imgcouple{
        display: block;
        width: 100%;
        height: 1400px;
    
    }
    .txtudg{
        font-size: 12px;
        color: #9C6615;
    }
    .txtlbpk {
        font-size: 11px;
        margin-left: 18%;
        color: #9C6615;
    }
    .txtl{
        font-size: 12px;
        color:#9C6615 ;
        margin-left: 10%;
    }
}
@media only screen and (min-width: 768px) and (max-height: 1024px) {

    .imgcouple{
        display: block;
        width: 100%;
        height: 1024px;
    
    }
    .txtudg{
        font-size: 12px;
        color: #9C6615;
    }
    .txtbpk{
        font-size: 12px;
        color: #9C6615;
    }
    .txtl{
        font-size: 12px;
        color:#9C6615 ;
        margin-left: 3%;
    }
    .wrapIG{
        width: 100%;
        animation: animasitext1;
        animation-duration: 4s;
    
    }
    .imgig{
        height: auto;
        position: absolute;
        top: 55%;
        width: 50%;   
    }
    .imglistig{
        height: auto;
        position: absolute;
        width: 20%;  
    }
    .namaig{
        position: absolute;
        top: 58%;
        width: 100%;
        font-family: 'monofonto';     
    }
    .txtwig{
        font-size: 10px;
        margin-left: 10%;
        color:#9C6615 ;
    }
    .wraplIG{
        width: 100%;
        animation: animasitext1;
        animation-duration: 4s;
    
    }
    .imglig{
        height: auto;
        position: absolute;
        top: 83%;
        width: 50%;   
    }
    .imglistlig{
        height: auto;
        position: absolute;
        width: 20%;
        margin-left: 160%;  
    }
    .namalig{
        position: absolute;
        top: 87%;
        width: 100%;
        font-family: 'monofonto';  
        margin-left: 8%;   
    }
    .txtlig{
        font-size: 10px;
        margin-left: 65%;
        color:#9C6615 ;
    }
    .txtl{
        font-size: 13px;
        color:#9C6615 ;
        margin-left: 15%;
    }
    
    .htoplptk{
        position: absolute;
        top: 75%;
        width: 100%;
        font-family: 'monofonto'; 
        
    }
    .txtlptk{
        font-size: 11px;
        margin-left: 25%;
        color: #9C6615;
    }
    .htoplbpk{
        position: absolute;
        top: 77%;
        width: 100%;
        font-family: 'monofonto'; 
        
    }
    .txtlbpk{
        font-size: 11px;
        margin-left: 22%;
        color: #9C6615;
    }
    
    .htoplibu{
        position: absolute;
        top: 79%;
        width: 100%;
        font-family: 'monofonto'; 
        
    }
    .txtlibu{
        font-size: 11px;
        margin-left: 21%;
        color: #9C6615;
    }
    
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) {

    .imgcouple{
        display: block;
        width: 100%;
        height: 2250px;
    
    }
    .txtudg{
        font-size: 12px;
        color: #9C6615;
    }
    .txtbpk{
        font-size: 12px;
        color: #9C6615;
    }
    .wrapIG{
        width: 100%;
        animation: animasitext1;
        animation-duration: 4s;
    
    }
    .imgig{
        height: auto;
        position: absolute;
        top: 55%;
        width: 50%;   
    }
    .imglistig{
        height: auto;
        position: absolute;
        width: 20%;  
    }
    .namaig{
        position: absolute;
        top: 57%;
        width: 100%;
        font-family: 'monofonto';     
    }
    .txtwig{
        font-size: 10px;
        margin-left: 10%;
        color:#9C6615 ;
    }
    .wraplIG{
        width: 100%;
        animation: animasitext1;
        animation-duration: 4s;
    
    }
    .imglig{
        height: auto;
        position: absolute;
        top: 83%;
        width: 50%;   
    }
    .imglistlig{
        height: auto;
        position: absolute;
        width: 20%;
        margin-left: 160%;  
    }
    .namalig{
        position: absolute;
        top: 85%;
        width: 20%;
        font-family: 'monofonto';  
        margin-left: 60%;   
    }
    .txtlig{
        font-size: 10px;
        margin-left: 65%;
        color:#9C6615 ;
    }
    .txtl{
        font-size: 13px;
        color:#9C6615 ;
        margin-left: 20%;
    }
    
    .htoplptk{
        position: absolute;
        top: 75%;
        width: 100%;
        font-family: 'monofonto'; 
        
    }
    .txtlptk{
        font-size: 11px;
        margin-left: 25%;
        color: #9C6615;
    }
    .htoplbpk{
        position: absolute;
        top: 77%;
        width: 100%;
        font-family: 'monofonto'; 
        
    }
    .txtlbpk{
        font-size: 11px;
        margin-left: 23%;
        color: #9C6615;
    }
    
    .htoplibu{
        position: absolute;
        top: 79%;
        width: 100%;
        font-family: 'monofonto'; 
        
    }
    .txtlibu{
        font-size: 11px;
        margin-left: 25%;
        color: #9C6615;
    }
    
}
/* @media only screen and (min-width: 280px) and (max-height: 1000px) {


    .imgcouple{
        display: block;
        width: 100%;
        height: 1000px;
    
    }

    .htop{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 27%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
        font-family: 'sweet';
        font-size: 20px;
    }
    .htopbsmlh{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
        font-family: 'sweet';
        font-size: 17px;
    }
    .txtudg{
        font-size: 10px;
        color: #9C6615;
    }
    .txtbpk{
        font-size: 10px;
        color: #9C6615;
    }

    .txtw{
        font-size: 10px;
        margin-left: 27%;
        color:#9C6615 ;
    }
    .txtwbpk{
        font-size: 10px;
        margin-left: 27%;
        color: #9C6615;
    }
    .txtwibu{
        font-size: 10px;
        margin-left: 27%;
        color: #9C6615;
    }
    .txtlbpk{
        font-size: 10px;
        margin-left: 15%;
        color: #9C6615;
    }
    .txtlibu{
        font-size: 10px;
        margin-left: 23%;
        color: #9C6615;
    }
    .txtl{
        font-size: 10px;
        color:#9C6615 ;
    }
    
    .wrapIG{
        width: 100%;
        animation: animasitext1;
        animation-duration: 4s;
    
    }
    .imgig{
        height: auto;
        position: absolute;
        top: 56.5%;
        width: 50%;   
    }
    .imglistig{
        height: auto;
        position: absolute;
        width: 20%;  
    }
    .namaig{
        position: absolute;
        top: 57%;
        width: 100%;
        font-family: 'monofonto';     
    }
    .txtwig{
        font-size: 10px;
        margin-left: 10%;
        color:#9C6615 ;
    }
    .wraplIG{
        width: 100%;
        animation: animasitext1;
        animation-duration: 4s;
    
    }
    .imglig{
        height: auto;
        position: absolute;
        top: 84.5%;
        width: 50%;   
    }
    .imglistlig{
        height: auto;
        position: absolute;
        width: 20%;
        margin-left: 160%;  
    }
    .namalig{
        position: absolute;
        top: 85%;
        width: 20%;
        font-family: 'monofonto';  
        margin-left: 50%;   
    }
    .txtlig{
        font-size: 10px;
        margin-left: 50%;
        color:#9C6615 ;
    } 

}*/