.wrap{
    width: 100%;
    height: 100%;
    position: relative;

}
.formbtn{
    height: auto;
position: absolute;
top: 75%;
padding-bottom: 20%;
width: 100%;
margin-right: auto;
  }
.youtube{
    width: 100%;
}
.imgbg{
    display: block;
    width: 100%;
    height: 770px;
}
.slider{
    height: auto;
    position: absolute;
    top: 52%;
    width: 100%;
    margin-right: auto;
    background-color: blue;
    display: grid;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrap{
        
        width: 100%;
        height: 975px;
    
    }
    .imgbg{
        display: block;
        width: 100%;
        height: 970px;
    }
}
 @media only screen and (min-width: 300px) and (max-width: 980px){
        .wrap{
            width: 100%;
            height: 100%;
            position: relative;
        }
      
        .imgbg{
            display: block;
            width: 100%;
            height: 770px;
        
        }
        .grid > div{
            height: auto;
            position: absolute;
            top: 27%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1px;
            align-items: start;
            justify-items: center;
            

        }
        .grid > div img {
            max-width: 100%;
            background-color: teal;
          }
          .grid > div img:nth-child(2) {
            grid-column: span 3;
            grid-row: span 3;
            }
            .bks{
                height: auto;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 18%;
                width: 100%;
                margin-right: auto;
                font-size: 57px;
                font-family: 'Rattman';
                color: #9C6615;
            }
            .formbtn{
                height: auto;
                position: absolute;
                top: 83%;
                padding-bottom: 20%;
                width: 100%;
                margin-right: auto;
               
                 
            }
            .btn{
                position: absolute;
                height: 50%;
                width: 50%;
                justify-content: center;
                margin-left: 27%;
                margin-right: auto;
                border-radius: 5px;
                font-weight: bold;
                background-color:red;
                font-family: monospace;
                color: white;
               
            }
       
       
    }    


    @media only screen and (min-height: 800px) and (max-height:1000px) {
        .wrap{
            width: 100%;
            height: 1000px;
        
        }
        .imgbg {
            display: block;
            width: 100%;
            height: 1000px;
        }
      
     }
     
     
    
     
    
    
    